<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elastic Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <div class="card">
      <header class="m-2">

        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="https://forum.instar.com/uploads/default/original/1X/1e53029ee275f517bda030431b4f91e267038fb1.jpeg" width="90" height="28">
            </a>
          </div>
        
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/">
                Single URL
              </a>
              <a class="navbar-item" href="/sitemap">
                Process Sitemap
              </a>
              <a class="navbar-item" href="/process">
                File Input
              </a>
            </div>
          </div>
        </nav>

        <h1 class="title m-2">Ingest URLs from File</h1>

      </header>

      <main class="section m-2">

        <div class="container">
          <h2 class="subtitle">XML Sitemap</h2>
          <p class="mb-3"><a href="/sitemap">First generate a list</a> of all URLs from your page's XML sitemap. Then give the file location (default: data/sideLinks.txt) in the input field below to process it:</p>
          <label class="label">File location:</label>
          <form method="POST">
            <div><input value="data/sideLinks.txt" name="location" class="input is-success"></input></div>
            <p><small>{{location}}</small></p>
            <p><small>{{info}}</small></p>
            <button class="button is-primary mt-2">Process</button>
          </form>
        </div>

      </main>
    </div>

    <footer class="m-2"><p><small>© All liability reserved</small></p></footer>
    
  </body>
</html>
